<div class="container">
  <form class="form">
    <div>
      <label for="bgColor" class="mb-2">Background Color: </label>
      <input
        class="form-control"
        type="color"
        id="bgolor"
        (input)="onBgColorChange($event)"
      />
    </div>
    <div>
      <label for="textColor" class="mb-2">Text Color: </label> <br />
      <input
        class="form-control"
        type="color"
        id="textColor"
        (input)="onTextColorChange($event)"
      />
    </div>
  </form>

  <div #myContainer class="container-div">I am learning Angular.</div>
</div>
